/* TAULES */

/* Contenedor de la tabla para hacerla responsive */
.table-responsive {
  margin: 20px 0; /* Espaciado alrededor de la tabla */
}

/* Estilos generales para la tabla */
.table {
  width: 100%; /* La tabla ocupa todo el ancho del contenedor */
  border-collapse: collapse; /* Elimina los espacios entre celdas */
  table-layout: fixed; /* Fija el tamaño de las celdas, haciendo que se ajusten al contenido */
  font-size: 14px; /* Tamaño de fuente para los datos de la tabla */
  table-layout: auto;
}

/* Estilos para las filas de la tabla */
.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Color de fondo para las filas impares */
}

.table tbody tr:hover {
  background-color: #eaeaea; /* Color de fondo al pasar el ratón por encima de una fila */
}

/* Estilos para el encabezado de la tabla */
.table-primary {
  background-color: #121518; /* Color de fondo del encabezado */
  color: white; /* Color de texto del encabezado */
}

.table th {
  padding: 12px 15px; /* Espaciado alrededor del texto en las celdas del encabezado */
  text-align: left; /* Alineación del texto a la izquierda */
  font-weight: bold; /* Hace que el texto sea negrita */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

/* Estilos para las celdas de la tabla */
.table td {
  padding: 12px 15px; /* Espaciado dentro de las celdas */
  text-align: left; /* Alineación del texto a la izquierda */
  vertical-align: middle; /* Alineación vertical centrada */
  border-bottom: 1px solid #ddd; /* Línea de separación entre filas */
}

/* Bordes redondeados en las celdas */
.table th,
.table td {
  border-radius: 5px;
}

/* Estilo para las celdas vacías */
.table td:last-child,
.table th:last-child {
  width: 1px;
  white-space: nowrap; /* Asegura que no haya salto de línea */
}

/* Estilos para las acciones (botones, etc.) dentro de las celdas vacías */
.table td:last-child {
  text-align: center; /* Centra los botones o enlaces en la última columna */
}

.table td:last-child button {
  background-color: transparent; /* Fondo transparente para los botones */
  border: none; /* Elimina el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
  font-size: 16px; /* Tamaño de la fuente en los botones */
  color: #007bff; /* Color del texto (en este caso, azul) */
  transition: color 0.3s ease; /* Transición suave al cambiar de color */
}

.table td:last-child button:hover {
  color: #0056b3; /* Cambio de color al pasar el ratón por encima del botón */
}
