/* ESTRUCTURA PRINCIPAL WEB */

/* Contenedor principal */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

.contingut {
  padding-top: 15px !important;
}

/* Layout principal */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  flex: 1;
  background: white;
}

article {
  flex: 1 1 60%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Sidebar */
aside {
  flex: 1 1 35%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

/* Llistats */
.llistat {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.quadre {
  width: 50%;
}

/* Responsive */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  article,
  aside {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Barra navegacio */
.barraNavegacio h6 {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
}

.barraNavegacio a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  padding: 2px 4px;
  color: rgb(168, 12, 12);
}

.barraNavegacio a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

/* Dades Fitxa */
.dadesFitxa {
  padding: 20px;
  background-color: #ececec;
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
