.fixaDades {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.columna {
  flex: 1;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imatge {
  flex: 0 0 300px;
  /* Limita el ancho de la primera columna a 200px */
}

.img-thumbnail {
  max-width: 300px;
  height: auto !important;
  border-radius: 8px;
}

.quadre-detalls {
  border: 1px black;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
  }

  .imatge {
    flex: 1 1 100%;
    /* La primera columna ocupa el 100% del ancho en dispositivos pequeños */
  }
}
