/* Para pantallas pequeñas, el menú está oculto y el botón toggle se muestra */
@media (max-width: 767px) {
  .headerContent {
    flex-direction: column;
  }

  /* Menú oculto por defecto */
  #navbarMenu.menuHidden {
    display: none; /* Ocultamos el menú */
  }

  /* Menú visible cuando se le añade la clase "menuVisible" */
  #navbarMenu.menuVisible {
    display: block; /* Mostramos el menú */
  }

  /* Mostrar el botón de toggle solo en móviles */
  .toggleMenuButton {
    display: block;
    font-size: 24px; /* Tamaño del ícono */
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  /* Si el menú está visible, el botón toggle se oculta (opcional) */
  .toggleMenuButton.menuVisible {
    display: none; /* El botón de toggle se oculta cuando el menú está visible */
  }

  /* Aseguramos que el menú tenga un diseño adecuado */
  .containerMenu {
    display: none; /* Ocultamos el menú en móviles */
    flex-direction: column; /* Hacemos que los elementos del menú se apilen */
    width: 100%;
    align-items: flex-start; /* Centra los elementos */
  }

  /* Aseguramos que los enlaces dentro del menú estén correctamente alineados */
  .containerMenu ul {
    flex-direction: column;
    padding-left: 6%;
  }

  .containerMenu li {
    margin: 15px 0;
  }

  .containerMenu a {
    padding: 10px;
    width: 100%; /* Los enlaces ocupan el 100% del ancho */
    text-align: center;
  }

  /* Menú desplegable de idiomas */
  .superMenu1 {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  .superMenu1 ul {
    flex-direction: column; /* Apilar los elementos */
    align-items: start;
  }

  .superMenu1 li {
    margin: 15px 0;
  }

  /* Formulario de búsqueda */
  .searchForm {
    flex-direction: column;
  }

  .searchInput {
    margin-bottom: 10px;
  }
}
