/* Para pantallas grandes, el menú se muestra y el botón toggle se oculta */
@media (min-width: 768px) {
  .header {
    height: 70px;
  }

  .menuVisible {
    display: block;
  }

  .menuHidden {
    display: none;
  }

  .toggleMenuButton {
    display: none; /* Mostrar el botón en pantallas más pequeñas */
  }

  .containerMenu {
    display: flex; /* El menú se muestra */
  }

  .containerMenu ul {
    flex-direction: row; /* Los enlaces se muestran en línea */
  }

  .headerContent {
    gap: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .headerContent > .logo {
    flex: 0 1 200px;
  }

  .headerContent > .containerMenu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 20px;
  }

  .searchForm {
    display: flex; /* Alineamos el input y el botón horizontalmente */
    justify-content: flex-start; /* Alineamos a la izquierda */
    gap: 10px; /* Espacio entre el input y el botón */
    max-width: 400px; /* Limitamos el ancho total del formulario */
    margin: 0 auto; /* Centra el formulario en la pantalla */
  }

  .searchForm .form-search {
    flex: 1; /* Hace que el input ocupe todo el espacio disponible, excepto el botón */
    max-width: 300px; /* Limita el tamaño máximo del campo de texto */
    height: 36px; /* Limita la altura del input */
    line-height: 36px; /* Alinea el texto verticalmente dentro del input */
    padding: 0 10px; /* Añade espacio interno para que el texto no quede pegado a los bordes */
    margin-top: 0px;
  }

  .searchForm .form-control {
    flex: 1; /* Hace que el input ocupe todo el espacio disponible, excepto el botón */
    max-width: 300px; /* Limita el tamaño máximo del campo de texto */
  }

  .searchForm .btn {
    padding: 8px 10px; /* Tamaño del botón */
    font-size: 14px; /* Tamaño de la fuente en el botón */
  }
}
