/* Centrar el contenedor principal */
.pantallaLogin {
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 0 20px; /* Asegura que el contenido no toque los bordes */
  box-sizing: border-box;
}

/* Estilos de la tarjeta del formulario */
.card {
  width: 100%;
  max-width: 400px; /* Ancho máximo de la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  color: black;
}

.card-body {
  padding: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo para las etiquetas de los campos */
label {
  display: block; /* Hace que las etiquetas se ubiquen encima del input */
  margin-bottom: 8px; /* Espacio entre la etiqueta y el campo de texto */
  font-weight: bold; /* Hace que las etiquetas sean más visibles */
  color: #555; /* Un color gris oscuro para las etiquetas */
}

/* Campos de entrada */
.form-ample-100 {
  width: 100%; /* Asegura que los campos ocupen todo el ancho disponible */
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px; /* Espacio entre los campos de entrada */
  box-sizing: border-box; /* Incluye el padding dentro del ancho */
}

/* Mensajes de alerta */
.alert {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 30px;
  margin-bottom: 25px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  /* texto negrita  */
  font-weight: bold;
}
