/* Contenedor de la tabla para hacerla responsive */
.table-responsive {
  margin: 20px 0;
  overflow-x: auto; /* Permite scroll horizontal */
  -webkit-overflow-scrolling: touch; /* Mejora la experiencia en iOS */
}

/* Estilos generales para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  min-width: 600px; /* Evita que la tabla se rompa al reducir mucho el ancho */
}

/* Estilos para las filas de la tabla */
.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #eaeaea;
}

/* Encabezado */
.table-primary {
  background-color: #121518;
  color: white;
}

.table th {
  padding: 12px 15px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

/* Celdas */
.table td {
  padding: 12px 15px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

/* Bordes redondeados */
.table th,
.table td {
  border-radius: 5px;
}

/* Celdas de acciones */
.table td:last-child,
.table th:last-child {
  width: 1px;
  white-space: nowrap;
}

.table td:last-child {
  text-align: left;
}

/* Media query para móviles */
@media (max-width: 768px) {
  .table-responsive {
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .table {
    min-width: 100%; /* Sigue permitiendo scroll horizontal */
  }
}
